@use "sass:selector";

@font-face {
  font-family: 'Raleway Variable';
  src: url('/Raleway.ttf') format('truetype-variations');
  font-display: swap;
}

/* #region Base Layout */
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: 'Raleway Variable';
}

body {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-rows: min-content max(75vh, 20rem);
  grid-template-columns: 2fr 1fr;
  max-width: 70rem;
  margin: 0 auto;
  min-height: 100vh;
  grid-gap: 2rem;
}

body > * {
  width: 100%;
  height: 100%;
}

body > header {
  grid-row: 1;
  grid-column: 1 / span 2;
}

body > main {
  grid-row: 2;
  grid-column: 1;
  border: 2px solid black;
}

body > aside {
  grid-row: 2;
  grid-column: 2;
}
/* #endregion */

/* #region Chat Layout */
main {
  display: grid;
  grid-template-rows: auto min-content;
}

main form {
  padding: 2rem;
  background: black;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}

main input {
  font-size: 1rem;
  flex: 1 0;
}

main form button {
  border: none;
  background: white;
  font-size: 1rem;
  cursor: pointer;
}

main ul {
  margin: 0;
  padding: 1.5rem;
  height: 100%;
  overflow-y: scroll;
  list-style: none;
}

main li {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  padding: 0.2em 0.4em;
  line-height: 1.5;
  border-radius: 12px;
  background: #000000;
  width: max-content;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

main li span {
  font-size: 1rem;
  display: block;
  font-weight: 500;
}

main li.own {
  margin-left: auto;
}

main li.own span {
  text-align: right;
}

main form input::placeholder {
  color: #343434;
}
/* #endregion */

/* #region Options Layout */
aside h2 {
  margin-top: 0;
  font-size: 2rem;
}

aside form fieldset {
  border: none;
  padding: 0;
  margin-bottom: 1rem;
}

aside form fieldset:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid darkgrey;
}

aside form legend {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

aside form > fieldset > legend {
  font-size: 1.5rem;
  font-weight: 600;
}

aside form label {
  display: flex;
}

aside form label + label {
  margin-top: 0.25rem;
}

aside form input {
  margin-left: auto;
}
/* #endregion */

/* #region Emotions */
@mixin create-emotion($bg-color, $chat-animation, $message-animation) {
  @at-root #{selector.unify(&,'main.animation')} {
    animation: $chat-animation 1.5s ease-in-out;
  }

  @at-root #{selector.unify(&,'li.animation')} {
    animation: $message-animation 1.5s ease-in-out;
  }

  @at-root #{selector.unify(&,'main.bg-color')} {
    background-color: $bg-color;
  }

  @at-root #{selector.unify(&,'li.bg-color')} {
    background-color: darken($bg-color, 15%);
  }

  @at-root #{selector.unify(&,'li.emoji:after')} {
    content: attr(data-emoji);
    margin-left: 0.2em;
  }
}

.somber {
  $bg-color: rgb(27, 62, 89);
  $chat-animation: chat-somber;
  $message-animation: somber;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes chat-somber {
    40%,
    60% {
      transform: rotateX(-30deg) translateY(10px);
    }
    from,
    to {
      transform: rotateX(0deg) translateY(0px);
    }
  }

  @keyframes somber {
    40%,
    60% {
      transform: rotateZ(-20deg);
      transform-origin: center right;
    }
    from,
    to {
      transform: rotateZ(0deg);
      transform-origin: center right;
    }
  }
}

.voldaan {
  $bg-color: rgb(232, 165, 84);
  $chat-animation: chat-voldaan;
  $message-animation: voldaan;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes chat-voldaan {
    from,
    to {
      transform: translateY(0);
    }
    70%,
    80% {
      transform: translateY(-30px);
    }
  }

  @keyframes voldaan {
    from,
    to {
      transform: translateY(0);
    }
    70%,
    80% {
      transform: translateY(-15px);
    }
  }
}

.vrolijk {
  $bg-color: rgb(216, 196, 80);
  $chat-animation: chat-vrolijk;
  $message-animation: vrolijk;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes chat-vrolijk {
    from,
    25%,
    50%,
    75%,
    to {
      transform: translateY(0) rotateZ(0deg);
      transform-origin: bottom right;
    }
    12.5%,
    37.5%,
    62.5%,
    87.5% {
      transform: translateY(-20px) rotateZ(20deg);
      transform-origin: bottom right;
    }
  }

  @keyframes vrolijk {
    from,
    to {
      transform: rotateZ(0deg);
    }
    25%,
    50%,
    75% {
      transform: rotateZ(-20deg);
    }
    12.5%,
    37.5%,
    62.5%,
    87.5% {
      transform: rotateZ(20deg);
    }
  }
}

.bozig {
  $bg-color: rgb(181, 65, 65);
  $chat-animation: boos;
  $message-animation: boos;

  @include create-emotion($bg-color, $chat-animation, $message-animation);
}

.angstig {
  $bg-color: rgb(111, 159, 196);
  $chat-animation: chat-angstig;
  $message-animation: angstig;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes chat-angstig {
    from,
    to {
      transform: scaleY(1) scaleX(1);
      transform-origin: bottom center;
    }
    40%,
    60% {
      transform: scaleY(0.8) scaleX(0.9);
      transform-origin: bottom center;
    }
  }

  @keyframes angstig {
    from,
    to {
    }
  }
}

.verrukt {
  $bg-color: rgb(216, 105, 57);
  $chat-animation: chat-verrukt;
  $message-animation: verrukt;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @at-root #{selector.unify(&, 'li.animation')} {
    animation-iteration-count: 2;
    animation-duration: 0.75s;
  }

  @keyframes chat-verrukt {
    from,
    to {
      transform: translate(0, 0) rotateZ(0);
    }
    25% {
      transform: translate(40px, -8px) rotateZ(301deg);
    }
    50% {
      transform: translate(290px, -49px) rotateZ(144deg);
    }
    75% {
      transform: translate(-80px, -200px) rotateZ(-28deg);
    }
  }
  @keyframes verrukt {
    from,
    25%,
    50%,
    75%,
    to {
      transform: translateY(0);
    }
    12.5%,
    37.5%,
    62.5%,
    87.5% {
      transform: translateY(-50px);
    }
  }
}

.razend {
  $bg-color: rgb(255, 0, 0);
  $chat-animation: boos;
  $message-animation: boos;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @at-root #{selector.unify(&, 'main.animation')} {
    animation-iteration-count: 4;
    animation-duration: calc(1.5s / 4);
  }
  @at-root #{selector.unify(&, 'li.animation')} {
    animation-iteration-count: 4;
    animation-duration: calc(1.5s / 4);
  }

  @keyframes boos {
    from,
    to {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(20px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(-20px);
    }
  }
}

.verdrietig {
  $bg-color: rgb(32, 60, 215);
  $chat-animation: chat-verdrietig;
  $message-animation: verdrietig;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes chat-verdrietig {
    from,
    to {
      transform-origin: bottom center;
    }
    20%,
    60% {
      transform: translateY(20px) rotateX(30deg) rotateY(-20deg);
      transform-origin: bottom center;
    }
  }

  @keyframes verdrietig {
    from,
    to {
      transform: rotateX(0deg);
      transform-origin: bottom center;
    }
    10%,
    60% {
      transform: rotateX(110deg);
      transform-origin: bottom center;
    }
  }
}

.neutraal {
  $bg-color: rgb(133, 133, 133);
  $chat-animation: none;
  $message-animation: none;

  @include create-emotion($bg-color, $chat-animation, $message-animation);
}

.verrast {
  $bg-color: rgb(206, 138, 101);
  $chat-animation: chat-verrast;
  $message-animation: verrast;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes chat-verrast {
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px) translateY(-50px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px) translateY(-50px);
    }
  }

  @keyframes verrast {
    10%,
    90% {
      transform: translateY(-20px);
    }
  }
}

.geschrokken {
  $bg-color: rgb(77, 141, 189);
  $chat-animation: chat-geschrokken;
  $message-animation: geschrokken;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes chat-geschrokken {
    10%,
    90% {
      transform: translateY(-200%) rotateZ(-45deg);
    }
  }

  @keyframes geschrokken {
    10%,
    90% {
      transform: translateY(-400px) rotateZ(-45deg);
    }
  }
}

.geïrriteerd {
  $bg-color: rgb(210, 83, 83);
  $chat-animation: geïrriteerd;
  $message-animation: geïrriteerd;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes geïrriteerd {
    from,
    to {
      transform: translateX(0);
    }
    10%,
    50%,
    90% {
      transform: translateX(20px);
    }
    30%,
    70% {
      transform: translateX(-20px);
    }
  }
}

.boos {
  $bg-color: rgb(147, 30, 30);
  $chat-animation: boos;
  $message-animation: boos;

  @at-root #{selector.unify(&, 'main.animation')} {
    animation-duration: calc(1.5s / 2);
    animation-iteration-count: 2;
  }

  @at-root #{selector.unify(&, 'li.animation')} {
    animation-duration: calc(1.5s / 2);
    animation-iteration-count: 2;
  }

  @include create-emotion($bg-color, $chat-animation, $message-animation);
}

.blij {
  $bg-color: rgb(177, 80, 28);
  $chat-animation: blij;
  $message-animation: blij;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes blij {
    40%,
    60% {
      transform: rotateX(360deg);
    }
    to {
      transform: rotateX(720deg);
    }
  }
}

.teleurgesteld {
  $bg-color: rgb(169, 83, 83);
  $chat-animation: chat-teleurgesteld;
  $message-animation: teleurgesteld;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @at-root #{selector.unify(&, 'main.animation')} {
    animation-duration: 2s;
  }
  @at-root #{selector.unify(&, 'li.animation')} {
    animation-duration: 2s;
  }

  @keyframes chat-teleurgesteld {
    30%,
    50% {
      transform: scaleX(0.8) scaleY(1.1);
      transform-origin: bottom center;
    }
    70%,
    90% {
      transform: scaleX(1) scaleY(0.95);
      transform-origin: bottom center;
    }
  }

  @keyframes teleurgesteld {
    30%,
    50% {
      transform: scaleX(0.8) scaleY(1.1);
      transform-origin: bottom center;
    }
    70%,
    90% {
      transform: scaleX(1) scaleY(0.95);
      transform-origin: bottom center;
    }
  }
}

.over-the-moon {
  $bg-color: rgb(255, 89, 0);
  $chat-animation: chat-overthemoon;
  $message-animation: overthemoon;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @at-root #{selector.unify(&, 'main.animation')} {
    animation-duration: 2s;
  }

  @at-root #{selector.unify(&, 'li.animation')} {
    animation-duration: 1.5s;
  }

  @keyframes chat-overthemoon {
    5%,
    15%,
    25%,
    35%,
    45% {
      transform: translateX(-5px);
    }
    0%,
    10%,
    20%,
    30%,
    40% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    60%,
    90% {
      transform: translateY(-150%);
    }
  }

  @keyframes overthemoon {
    50%,
    75% {
      transform: rotateZ(3turn) translateY(-400%);
    }
    100% {
      transform: rotateZ(3turn) translateY(0);
    }
  }
}

.bang {
  $bg-color: rgb(52, 127, 167);
  $chat-animation: bang;
  $message-animation: bang;

  @include create-emotion($bg-color, $chat-animation, $message-animation);

  @keyframes bang {
    10%,
    90% {
      transform: scaleY(0.8);
      transform-origin: bottom center;
    }
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80% {
      transform: scaleY(0.8) translateX(-10px);
      transform-origin: bottom center;
    }
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85% {
      transform: scaleY(0.8) translateX(10px);
      transform-origin: bottom center;
    }
  }
}

/* #endregion */
