@font-face {
  font-family: 'Raleway Variable';
  src: url('/Raleway.ttf') format('truetype-variations');
  font-display: swap;
}

h1 {
  font-variation-settings: 'wght' var(--weight);
  font-family: 'Raleway Variable';
}
